<T>**__Коды команд__**</T>
• __Основное__: Просто введите код вашей команды, например: `[1075,6251,6699,6007,3010,3,1,1,1,3,1,1,14007]`. Бот автоматически ответит с расшифровкой команды, соответственно введенному коду. Код команды может быть вставлен с  дополнительным текстом, не обязательно вводить команду отдельной строкой.
<T>**__Виды поиска__**:</T>
• `{{ prefix }}troop <войско>`, например: `{{ prefix }}troop элемогрим`.
• `{{ prefix }}weapon <оружие>`, например: `{{ prefix }}weapon кромсач`.
• `{{ prefix }}pet <питомец>`, например: `{{ prefix }}pet пуддинг`.
• `{{ prefix }}class <класс>`, например: `{{ prefix }}class лучник`.
• `{{ prefix }}kingdom <королевство>`, например: `{{ prefix }}kingdom каракот`.
• `{{ prefix }}talent <талант>`, например: `{{ prefix }}talent источник маны`.
• `{{ prefix }}trait <навык>`, например: `{{ prefix }}trait неуязвимость`.
• `{{ prefix }}affix <усиление>`, например: `{{ prefix }}affix пыли`.
• `{{ prefix }}traitstone <мастер-камень>`, например: `{{ prefix }}traitstone защитный`.
<T>**__Правила поиска__**:</T>
• Поиск также работает для id и частично введенных названий.
• Поиск нечувствителен к регистру.
• Пробелы, апострофы (') и дефисы (-) игнорируются.
• В случае нескольких вариантов ответа будет выведен список войск.
• Если найдено только одно подходящее войско, то ответ будет окрашен сбоку в цвет его базовой редкости.
<T>**__Обзоры__**:</T>
• Спойлеры: `{{ prefix }}spoilers`. Можно фильтровать, используя следующие параметры: `pets`, `troops`, `weapons`, `kingdoms`, `events`: `{{ prefix }}spoilers weapons`, или `{{ prefix }}event[s]`
• Обзор недельной кампании: `{{ prefix }}campaign`. Можно фильтровать, используя следующие параметры: `bronze`, `silver`, or `gold`: `{{ prefix }}campaign silver`
• Обзор класса: `{{ prefix }}class summary`
• Обзор королевства: `{{ prefix }}kingdom summary`
• Предметы, которые можно выковать в Кузне Душ: `{{ prefix }}soulforge`
• Бонусы при повышении уровня героя: `{{ prefix }}levels`
<T>**__Башни Бед__**:</T>
Введите `{{ prefix }}towerhelp`.
<T>**__Модификаторы комманд__**:</T>
• __Перевод__: Поддерживаются все языки, доступные в Gems of War, введите две буквы кода страны (en, fr, de, ru, it, es, zh) в начале команды, например: `ru{{ prefix }}troop элемогрим`. Это также работает и для кодов команд. **Локализованный поиск осуществляет поиск только для соответственно переведенных названий**.',
• __Сокращенный вывод__: Введите "-" вначале любой команды, для того, чтобы получить сокращенный ответ, например: `-[1075,6251,6699,6007]`, или с выбором языка `ru-[1075,6251,6699,6007]`. **Обратите внимание, что код языка всегда указывается в первую очередь.**
<T>**__Специальные команды бота__**:</T>
• Показать версию бота: `{{ prefix }}version`
• Показать время работы бота: `{{ prefix }}uptime`
• Получить код приглашения бота: `{{ prefix }}invite`
• Получить случайные мотивационные вафельки: `{{ prefix }}waffles`
• Краткая помощь: введите `{{ prefix }}quickhelp` чтобы открыть краткий обзор доступных команд.
<T>**__Администраторские команды__**:</T>
Администраторские команды могут быть введены только владельцем сервера, пользователем сервера с администраторским доступом или пользователями с ролью "admin".
• __Префикс__: введите `{{ prefix }}prefix <новый_префикс>` чтобы установить новый префикс. Только владелец сервера может это делать.
• __Новости__: введите `{{ prefix }}news subscribe pc` или `{{ prefix }}news subscribe switch` чтобы подписаться на новости. Проверка статуса подписки: `{{ prefix }}news`.
• __Язык по умолчанию__: Измените язык по умолчанию для вашего сервера с помощью `{{ prefix }}lang <язык>`, например: `{{ prefix }}lang ru` (смотрите выше список кодов стран).