<T>**__Team Codes__**</T>
• __Basics__: Einfach den Team Code ein, z.B. `[1075,6251,6699,6007,3010,3,1,1,1,3,1,1,14007]`. The bot will automatically answer with the troops posted in the code. The code can be embedded within more text, and does not need to stand alone.
<T>**__Searches__**:</T>
• `{{ prefix }}troop <Suche>`, z.B. `{{ prefix }}troop wilde königin`.
• `{{ prefix }}weapon <Suche>`, z.B. `{{ prefix }}weapon axt der verdammnis`.
• `{{ prefix }}pet <Suche>`, z.B. `{{ prefix }}pet äuglein`.
• `{{ prefix }}class <Suche>`, z.B. `{{ prefix }}class erzmagier`.
• `{{ prefix }}kingdom <Suche>`, z.B. `{{ prefix }}kingdom stolzländer`.
• `{{ prefix }}talent <Suche>`, z.B. `{{ prefix }}talent reinigung`.
• `{{ prefix }}trait <Suche>`, z.B. `{{ prefix }}trait regeneration`.
• `{{ prefix }}affix <Suche>`, z.B. `{{ prefix }}affix feuer`.
• `{{ prefix }}traitstone <Suche>`, z.B. `{{ prefix }}traitstone schild`.
<T>**__Suchregeln__**:</T>
• Die Suche findet sowohl IDs als auch Teile der Namen.
• Die Suche unterscheidet Groß- und Kleinschreibung nicht.
• Leerzeichen, Apostrophe (') und Bindestriche (-) werden ignoriert.
• Wenn mehrere Ergebnisse passen, wird eine Liste mit diesen angezeigt.
• Wenn genau ein Ergebnis gefunden wird, passt sich die Farge der Antwort der Seltenheit an.
<T>**__Überblicke__**:</T>
• Spoiler: `{{ prefix }}spoilers`. Kann mit folgenden Parametern eingegrenzt werden: `pets`, `troops`, `weapons`, `kingdoms`, `events`: `{{ prefix }}spoilers weapons` oder auch `{{ prefix }}events`
• Wöchentliche Kampagne: `{{ prefix }}campaign`. Kann mit folgenden Parametern gefiltert werden: `bronze`, `silver` oder `gold`: `{{ prefix }}campaign silver`.
• Alle Klassen: `{{ prefix }}class summary`
• Alle Königreiche: `{{ prefix }}kingdom summary`
• Herstellbare Gegenstände in der Seelenschmiede: `{{ prefix }}soulforge`
• Spieler-Level Boni: `{{ prefix }}levels`
<T>**__Turm der Verdammnis__**:</T>
Bitte `{{ prefix }}towerhelp` benutzen.
<T>**__Befehls-Modifikatoren__**:</T>
• __Übersetzungen__: Alle GoW-Sprachen werden vom Bot unterstützt, einfach die zwei-Buchstaben Ländercodes (en, fr, de, ru, it, es, zh) vor das jeweilige Kommando setzen, , z.B. `de{{ prefix }}troop elemaugrim`. Das selbe gilt bei Team Codes. **Bei der Übersetzung werden auch Suchbegriffe übersetzt**.
• __Gekürzte Ausgabe__: Mit einem `-` vor dem Kommando wird die Ausgabe gekürzt, z.B. `-[1075,6251,6699,6007]` oder mit der Sprache `de-[1075,6251,6699,6007]`. **Die Sprachangabe muss stets zuerst erfolgen.**
<T>**__Bot-spezifische Befehle__**:</T>
• Bot Version: `{{ prefix }}version`
• Betriebsdauer: `{{ prefix }}uptime`
• Einladungscode für den Bot: `{{ prefix }}invite`
• Zufällige Hochmotivations-Waffel: `{{ prefix }}waffles`
• Kurzhilfe: `{{ prefix }}quickhelp` für eine gekürzte Übersicht aller Befehle.
<T>**__Administrative Befehle__**:</T>
Administrative Befehle können nur von Server-Besitzern, Benutzern mit Administrationsrechten oder Mitglieder der "Admin"-Gruppe aufgerufen werden.
• __Präfix__: `{{ prefix }}prefix <Neues Präfix>` eingeben, um das Standard-Prefix (`!`) in ein neues zu ändern.
• __Nachrichten__: Nachrichten können abonniert werden mit entweder `{{ prefix }}news subscribe pc` oder `{{ prefix }}news subscribe switch`. `{{ prefix }}news` zeigt den aktuellen Status an.
• __Standard-Sprache__: `{{ prefix }}lang <Sprache>` ändert die Sprache für den Bot auf dem gesamten Server, z.B. `{{ prefix }}lang de` (Siehe oben für gültive Ländercodes)