<T>**__Team Codes__**</T>
• __Grundlagen__: Einfach den Team Code eingeben, z.B. `[1075,6251,6699,6007,3010,3,1,1,1,3,1,1,14007]`. Dieser Code kann mitten im Text stehen und muss nicht alleine in einer Zeile eingegeben werden.
<T>**__Searches__**:</T>
• `{{ prefix }}troop <Suche>`, z.B. `{{ prefix }}troop wilde königin`.
• `{{ prefix }}weapon <Suche>`, z.B. `{{ prefix }}weapon axt der verdammnis`.
• `{{ prefix }}pet <Suche>`, z.B. `{{ prefix }}pet äuglein`.
• `{{ prefix }}class <Suche>`, z.B. `{{ prefix }}class erzmagier`.
• `{{ prefix }}kingdom <Suche>`, z.B. `{{ prefix }}kingdom stolzländer`.
• `{{ prefix }}talent <Suche>`, z.B. `{{ prefix }}talent reinigung`.
• `{{ prefix }}trait <Suche>`, z.B. `{{ prefix }}trait regeneration`.
• `{{ prefix }}affix <Suche>`, z.B. `{{ prefix }}affix feuer`.
• `{{ prefix }}traitstone <Suche>`, z.B. `{{ prefix }}traitstone schild`.
<T>**__Suchregeln__**:</T>
• Die Suche findet sowohl IDs als auch Teile der Namen.
• Die Suche unterscheidet Groß- und Kleinschreibung nicht.
• Leerzeichen, Apostrophe (') und Bindestriche (-) werden ignoriert.
• Wenn mehrere Ergebnisse passen, wird eine Liste mit diesen angezeigt.
• Wenn genau ein Ergebnis gefunden wird, passt sich die Farge der Antwort der Seltenheit an.
<T>**__Überblicke__**:</T>
• Spoiler: `{{ prefix }}spoilers`. Kann mit folgenden Parametern eingegrenzt werden: `pets`, `troops`, `weapons`, `kingdoms`, `events`: `{{ prefix }}spoilers weapons` oder auch `{{ prefix }}events`
• Wöchentliche Kampagne: `{{ prefix }}campaign`. Kann mit folgenden Parametern gefiltert werden: `bronze`, `silver` oder `gold`: `{{ prefix }}campaign silver`.
• Alle Klassen: `{{ prefix }}class summary`
• Alle Königreiche: `{{ prefix }}kingdom summary`
• Herstellbare Gegenstände in der Seelenschmiede: `{{ prefix }}soulforge`
• Spieler-Level Boni: `{{ prefix }}levels`
• Königreiche nach Einheitenfarben: `{{ prefix }}color_kingdoms`
• Königreiche nach Einheitentypen: `{{ prefix }}troop_type_kingdoms`
• Truhen Drop-Raten `{{ prefix }}drop_rates`
<T>**__Turm der Verdammnis__**:</T>
Bitte `{{ prefix }}towerhelp` benutzen.
<T>**__Haustierrettungen__**:</T>
• Wenn im Spiel eine Haustierrettung vorkommt, kann der Bot alle Gildenmitglieder benachrichtigen: `{{ prefix }}pet rescue <Haustier> [<Zeit>] [<Erwähnung>]`. `<Haustier>` ist der Name oder die ID des Haustieres, `<Zeit>` übrige Zeit in Minuten (Standard 59), gefolgt von entweder nichts, "min" oder "mins", und `<Erwähnung>`, welches die Benachrichtigung in Discord aktiviert (Standard `@everyone`).
• Die Konfiguration kann mit `{{ prefix }}pet rescue config` angezeigt werden.
• Administratoren können die Standardwerte und das Löschverhalten wie folgt bearbeiten: `{{ prefix }}pet rescue config <Konfiguration>=<Wert>`.
<T>**__Team Lesezeichen__**:</T>
• Eigene Lesezeichen anzeigen: `{{ prefix }}bookmarks`.
• Ein bestimmtes Lesezeichen anzeigen: `{{ prefix }}bookmark <Lesezeichen-ID>`.
• Neues Lesezeichen anlegen: `{{ prefix }}bookmark <Beschreibung> <Team Code>`. Eine neue zufällige Lesezeichen-ID wird automatisch erstellt.
• Lesezeichen entfernen: `{{ prefix }}bookmark delete <Lesezeichen-ID>`.
<T>**__Toplisten__**:</T>
• Alle eigenen Toplisten anzeigen: `{{ prefix }}toplists`
• Neue Toplist anlegen: `{{ prefix }}toplist <Beschreibung> <Truppen>`. Truppen ist eine durch Kommas getrennte Liste von Namen oder IDs. Eine neue Toplist-ID wird automatisch erzeugt.
• Neue Truppen an eine vorhandene Toplist anhängen: `{{ prefix }}toplist append <Toplist-Id> <Truppen>`.
• Vorhandene Toplist ersetzen: `{{ prefix }}toplist update <Toplist-Id> <Beschreibung> <Truppen>`.
• Toplist löschen: `{{ prefix }}toplist delete <Toplist-Id>`.
<T>**__Befehls-Modifikatoren__**:</T>
• __Übersetzungen__: Alle GoW-Sprachen werden vom Bot unterstützt, einfach die zwei-Buchstaben Ländercodes (en, fr, de, ru, it, es, zh) vor das jeweilige Kommando setzen, , z.B. `de{{ prefix }}troop elemaugrim`. Das selbe gilt bei Team Codes. **Bei der Übersetzung werden auch Suchbegriffe übersetzt**.
• __Gekürzte Ausgabe__: Mit einem `-` vor dem Kommando wird die Ausgabe gekürzt, z.B. `-[1075,6251,6699,6007]` oder mit der Sprache `de-[1075,6251,6699,6007]`. **Die Sprachangabe muss stets zuerst erfolgen.**
<T>**__Bot-spezifische Befehle__**:</T>
• Überprüfen der Kanal-spezifischen Berechtigungen: `{{ prefix }}permissions`
• Anzeige der Bot-Version, Laufzeit, Verfügbarkeit, Einladungscode und mehr: `{{ prefix }}about`
• Zufällige Hochmotivations-Waffel: `{{ prefix }}waffles`
• Kurzhilfe: `{{ prefix }}quickhelp` für eine gekürzte Übersicht aller Befehle.
<T>**__Administrative Befehle__**:</T>
Administrative Befehle können nur von Server-Besitzern, Benutzern mit Administrationsrechten oder Mitglieder der "Admin"-Gruppe aufgerufen werden.
• __Präfix__: `{{ prefix }}prefix <Neues Präfix>` eingeben, um das Standard-Prefix (`!`) in ein neues zu ändern.
• __Nachrichten__: Nachrichten können abonniert werden mit entweder `{{ prefix }}news subscribe pc` oder `{{ prefix }}news subscribe switch`. `{{ prefix }}news` zeigt den aktuellen Status an.
• __Standard-Sprache__: `{{ prefix }}lang <Sprache>` ändert die Sprache für den Bot auf dem gesamten Server, z.B. `{{ prefix }}lang de` (Siehe oben für gültive Ländercodes)