<T>**__ Códigos de equipo__**</T>
• __lo básico__: Sólo pongan los códigos de su equipo, por ejemplo: `[1075,6251,6699,6007,3010,3,1,1,1,3,1,1,14007]`. El robot responderá automáticamente con las tropas publicadas en el código. El código puede ser incrustado dentro de más texto, y no necesita estar solo.
<T>**__ Búsquedas __**:</T>
• `{{ prefix }}troop <búsqueda>`, por ejemplo `{{ prefix }}troop rey duentrufa`.
• `{{ prefix }}weapon <búsqueda>`, por ejemplo, `{{ prefix }}weapon tomo de esporas`.
• `{{ prefix }}pet <buscar>`, por ejemplo, `{{ prefix }}pet príncipe sapo`.
• `{{ prefix }}class <búsqueda>`, por ejemplo: `{{ prefix }}clase señor de la guerra`.
• `{{ prefix }}kingdom <búsqueda>`, por ejemplo: `{{ prefix }}kingdom aguja rota`.
• `{{ prefix }}talent <búsqueda>`, por ejemplo: `{{ prefix }}talent fuente de mana`.
• `{{ prefix }}trait <búsqueda>`, por ejemplo: `{{ prefix }}trait impermeable`.
• `{{ prefix }}affix <búsqueda>`, por ejemplo: `{{ prefix }}affix polvo`.
• `{{ prefix }}traitstone <buscar>`, por ejemplo. `{{ prefix }}traitstone escudo`.
<T>**__Reglas de búsqueda__**:</T>
• Busca en ambas obras identificaciones y partes de sus nombres.
• La búsqueda no distingue entre mayúsculas y minúsculas.
• Los espacios, apóstrofes (') y guiones (-) serán ignorados.
• Los resultados múltiples mostrarán una lista de tropas coincidentes.
• Si se encuentra un elemento coincidente, el color del lado reflejará la rareza de la tropa.
<T>**__Resúmenes__**:</T>
• Spoilers: `{{ prefix }}spoilers`. Puede ser filtrado con los siguientes parámetros: `pets`, `troops`, `weapons`, `kingdoms`, `events`: `{{ prefix }}spoilers weapons`, o `{{ prefix }}events`.
• Resumen semanal de la campaña: `{{ prefix }}campaign`. Puede ser filtrado con `bronze`, `silver` u `gold`: `{{ prefix }}campaign silver`.
• Resumen de la clase: `{{ prefix }}class summary`
• Visión general del Reino: `{{ prefix }}kingdom summary`
• Artículos artesanales de Soulforge: `{{ prefix }}soulforge`
• Beneficios a nivel de jugador: `{{ prefix }}levels`
<T>**__La Torre de la Perdición__**:</T>
Por favor, consulte `{{ prefix }}towerhelp`.
<T>**__Pet Rescue__**:</T>
• When encountering a pet rescue mission in-game, you can alert all your fellow guild mates with `{{ prefix }}pet rescue <pet> [<time>] [<mention>]`. `<pet>` needs to be either the name or the id of the pet, `<time>` is the remaining time in minutes (default 59), followed by either nothing, "min", or "mins", and `<mention>` is the group that will be alerted (default `@everyone`).
• Default settings can be checked with `{{ prefix }}pet rescue config`.
• Server administrators can alter the default mention, as well as the deletion behaviour with `{{ prefix }}pet rescue config <setting>=<value>`.
<T>**__Modificadores de Comando__**:</T>
• __Traducción__: Todos los idiomas de GoW están soportados, pon las dos letras del código del país (en, fr, de, ru, it, es, zh) delante del comando, por ejemplo `es{{ prefix }}troop rey duentrufa`. Esto funciona igual para los códigos de equipo. **Las búsquedas localizadas sólo buscarán los nombres de las tropas con sus respectivas traducciones**.',
• __Salida acortada__: Ponga un "-" delante de cualquier comando para que aparezca en formato condensado, por ejemplo `-[1075,6251,6699,6007]`, o con el lenguaje `es-[1075,6251,6699,6007]`. **Nota que el modificador de lenguaje siempre va primero.**
<T>**__Comandos específicos del robot__**:</T>
• Check the bot's permissions within a channel: `{{ prefix }}permissions`
• Display bot version, runtime, uptime, invite code, and more: `{{ prefix }}about`
• Consigue unos gofres de motivación al azar: `{{ prefix }}waffles`
• Ayuda corta: introduzca `{{ prefix }}quickhelp` para abrir un breve resumen de todos los comandos.
<T>**__Administre los comandos__**:</T>
Los comandos administrativos sólo pueden ser emitidos por el propietario del servidor, un miembro con acceso de administración concedido o los usuarios de un grupo llamado "admin".
• __Prefix__: introduzca `{{ prefix }}prefix <nuevo_prefijo>` para establecer un nuevo prefijo. Sólo el propietario del servidor puede hacer eso.
• __Noticias__: Suscríbete a las noticias con `{{ prefix }}news subscribe pc` o `{{ prefix }}news subscribe switch` para suscribirse a cualquiera de las dos noticias. Compruebe el estado con `{{ prefix }}news`.
• __Lenguaje por defecto__: Cambie el idioma por defecto de su servidor con `{{ prefix }}lang <lang>`, por ejemplo `{{ prefix }}lang es` (vea arriba los códigos de idiomas válidos).

Traducción realizada con la versión gratuita del traductor www.DeepL.com/Translator