<T>**__Team Codes__**</T>
• __Basics__: Just post your team codes, e.g. `[1075,6251,6699,6007,3010,3,1,1,1,3,1,1,14007]`. The bot will automatically answer with the troops posted in the code. The code can be embedded within more text, and does not need to stand alone.
<T>**__Searches__**:</T>
• `{{ prefix }}troop <search>`, e.g. `{{ prefix }}troop elemaugrim`.
• `{{ prefix }}weapon <search>`, e.g. `{{ prefix }}weapon mang`.
• `{{ prefix }}pet <search>`, e.g. `{{ prefix }}pet puddling`.
• `{{ prefix }}class <search>`, e.g. `{{ prefix }}class archer`.
• `{{ prefix }}kingdom <search>`, e.g. `{{ prefix }}kingdom karakoth`.
• `{{ prefix }}talent <search>`, e.g. `{{ prefix }}talent mana source`.
• `{{ prefix }}trait <search>`, e.g. `{{ prefix }}trait impervious`.
• `{{ prefix }}affix <search>`, e.g. `{{ prefix }}affix dust`.
• `{{ prefix }}traitstone <search>`, e.g. `{{ prefix }}traitstone shield`.
<T>**__Search Rules__**:</T>
• Search both works for ids and parts of their names.
• Search is case insensitive.
• Spaces, apostrophes (') and dashes (-) will be ignored.
• Multiple results will show a list of matched troops.
• If one matching item is found, the side color will reflect the troop's base rarity.
<T>**__Overviews__**:</T>
• Spoilers: `{{ prefix }}spoilers`. Can be filtered down with the following parameters: `pets`, `troops`, `weapons`, `kingdoms`, `events`: `{{ prefix }}spoilers weapons`, or `{{ prefix }}event[s]`
• Weekly campaign overview: `{{ prefix }}campaign`. Can be filtered with `bronze`, `silver`, or `gold`: `{{ prefix }}campaign silver`.
• Class overview: `{{ prefix }}class summary`
• Kingdom overview: `{{ prefix }}kingdom summary`
• Craftable Soulforge items: `{{ prefix }}soulforge`
• Player level benefits: `{{ prefix }}levels`
<T>**__Tower of Doom__**:</T>
Please consult `{{ prefix }}towerhelp`.
<T>**__Command Modifiers__**:</T>
• __Translation__: All GoW languages are supported, put the two country code letters (en, fr, de, ru, it, es, zh) in front of the command, e.g. `de{{ prefix }}troop elemaugrim`. This works the same for team codes. **Localized searches will only look for troop names with their respective translations**.',
• __Shortened output__: Put a "-" in front of any command to make it appear in condensed format, e.g. `-[1075,6251,6699,6007]`, or with language `de-[1075,6251,6699,6007]`. **Note that the language modifier always comes first.**
<T>**__Bot Specific Commands__**:</T>
• Display bot version: `{{ prefix }}version`
• Display bot runtime & uptime: `{{ prefix }}uptime`
• Get the bot's invite code: `{{ prefix }}invite`
• Get a random motivation waffles: `{{ prefix }}waffles`
• Short help: enter `{{ prefix }}quickhelp` to open a short overview of all commands.
<T>**__Admin Commands__**:</T>
Administrative commands can only be issued by either the server owner, a member with administration access granted, or users in a group called "admin".
• __Prefix__: enter `{{ prefix }}prefix <new_prefix>` to set a new prefix. Only the server owner can do that.
• __News__: Subscribe to news with `{{ prefix }}news subscribe pc` or `{{ prefix }}news subscribe switch` to subscribe to either news. Check the status with `{{ prefix }}news`.
• __Default Language__: Change default language for your server with `{{ prefix }}lang <lang>`, e.g. `{{ prefix }}lang fr` (see above for valid language codes).