<T>Explications</T>
Les crochets `[]` affichent les paramètres facultatifs, à l'exception du code de la l'unité.
Les lignes verticales `|` signifient "ou": ceci|cela.
Les codes de langue valables sont `{{ languages }}`.

<T>Recherches</T>
`{{ prefix }}help`
`{{ prefix }}quickhelp`
`[lang][-][<troopcode>]`
`[lang][-]{{ prefix }}troop <recherche>`
`[lang][-]{{ prefix }}weapon <recherche>`
`[lang][-]{{ prefix }}affix <recherche>`
`[lang][-]{{ prefix }}pet <recherche>`
`[lang][-]{{ prefix }}class <recherche>`
`[lang][-]{{ prefix }}kingdom <recherche>`
`[lang][-]{{ prefix }}talent <recherche>`
`[lang][-]{{ prefix }}trait <recherche>`
`[lang][-]{{ prefix }}traitstone <recherche>`

<T>Aperçus</T>
`[lang]{{ prefix }}class summary`
`[lang]{{ prefix }}kingdom summary`
`[lang]{{ prefix }}color_kingdoms`
`[lang]{{ prefix }}spoiler[s] [pet[s]|troop[s]|weapon[s]|kingdom[s]|event[s]]`
`[lang]{{ prefix }}event[s] [filter]`
`[lang]{{ prefix }}event[s] kingdom[s]`
`[lang]{{ prefix }}campaign [bronze|silver|gold]`
`[lang]{{ prefix }}soulforge`
`[lang]{{ prefix }}levels`
`[lang]{{ prefix }}adventure[s]`
`[lang][-]{{ prefix }}class_level [<basse>-]<haute>`

<T>Opération Sauvetage</T>
`{{ prefix }}pet rescue [pet name or id] [time remaining in minutes] [mention]`
`{{ prefix }}pr [pet name or id] [time remaining in minutes] [mention]`

<T>Ttour Maudite</T>
`{{ prefix }}towerhelp`
`{{ prefix }}tower [lower floor-upper floor]`

<T>Top listes</T>
`[lang]{{ prefix }}toplists`
`[lang]{{ prefix }}toplist <description> <troops>`
`[lang]{{ prefix }}toplist delete <id>`
`[lang]{{ prefix }}toplist update <id> <description> <troops>`
`[lang]{{ prefix }}toplist append <id> <more_troops>`

<T>Commandes Admin</T>
`{{ prefix }}towerconfig`
`{{ prefix }}towerclear`
`{{ prefix }}pet rescue config [<paramètre>=<valeur>]`
`{{ prefix }}news [[un]subscribe [pc|switch]]`
`{{ prefix }}prefix [new_prefix]`
`{{ prefix }}lang[uage[s]] [new_language]`

<T>À propos du bot</T>
`{{ prefix }}about`
`{{ prefix }}permissions`
`{{ prefix }}tools`
`{{ prefix }}waffles`