<T>Как это читать</T>
Квадратные скобки `[]` отображают необязательные параметры, за исключением кодов сборок.
Вертикальные линии `|` означают "или": первое|второе.
Доступные коды языка: `{{ languages }}`.

<T>Виды поиска</T>
`{{ prefix }}help`
`{{ prefix }}quickhelp`
`[язык][-][<код_сборки>]`
`[язык][-]{{ prefix }}troop <войско>`
`[язык][-]{{ prefix }}weapon <оружие>`
`[язык][-]{{ prefix }}affix <аффикс>`
`[язык][-]{{ prefix }}pet <питомец>`
`[язык][-]{{ prefix }}class <класс>`
`[язык][-]{{ prefix }}kingdom <королевство>`
`[язык][-]{{ prefix }}talent <талант>`
`[язык][-]{{ prefix }}trait <навык>`
`[язык][-]{{ prefix }}traitstone <мастер-камень>`

<T>Обзоры</T>
`[язык]{{ prefix }}class summary`
`[язык]{{ prefix }}kingdom summary`
`[язык]{{ prefix }}factions`
`[язык]{{ prefix }}color_kingdoms`
`[язык]{{ prefix }}troop_type_kingdoms`
`[язык]{{ prefix }}spoiler[s] [pet[s]|troop[s]|weapon[s]|kingdom[s]|event[s]]`
`[язык]{{ prefix }}event[s] [filter]`
`[язык]{{ prefix }}event[s] kingdom[s]`
`[язык]{{ prefix }}current_event`
`[язык]{{ prefix }}weekly_summary`
`[язык]{{ prefix }}active_gems`
`[язык]{{ prefix }}heroic_gems`
`[язык]{{ prefix }}campaign [bronze|silver|gold]`
`[язык]{{ prefix }}reroll_tasks`
`[язык]{{ prefix }}soulforge`
`[язык]{{ prefix }}levels`
`[язык]{{ prefix }}adventure[s]`
`[язык][-]{{ prefix }}class_level [<низкий>-]<высокий>`
`[язык]{{ prefix }}drop_rates`
`[язык]{{ prefix }}effects`
`[язык]{{ prefix }}warbands`
`[язык]{{ prefix }}summoning_stones|summons`
`[язык]{{ prefix }}storms`
`[язык]{{ prefix }}server_status`

<T>Спасение питомца</T>
`{{ prefix }}pet rescue [название питомца или id] [оставшееся время в минутах] [упоминание]`
`{{ prefix }}pr [название питомца или id] [оставшееся время в минутах] [упоминание]`

<T>Башня Беды</T>
`{{ prefix }}towerhelp`
`{{ prefix }}tower [нижний этаж - верхний этаж]`

<T>Bookmarks</T>
`[язык]{{ prefix }}bookmarks`
`[язык]{{ prefix }}bookmark <id>`
`[язык]{{ prefix }}bookmark <description> <team code>`
`[язык]{{ prefix }}bookmark delete <id>`

<T>Топлисты</T>
`[язык]{{ prefix }}toplists`
`[язык]{{ prefix }}toplist <описание> <войска>`
`[язык]{{ prefix }}toplist delete <id>`
`[язык]{{ prefix }}toplist update <id> <описание> <войска>`
`[язык]{{ prefix }}toplist append <id> <добавить_войска>`

<T>Специальные команды бота</T>
`{{ prefix }}about`
`{{ prefix }}permissions`
`{{ prefix }}tools`
`{{ prefix }}streamer[s]`
`{{ prefix }}waffles`
`{{ prefix }}burgers`
`{{ prefix }}memes`

<T>Администраторские команды</T>
`{{ prefix }}towerconfig`
`{{ prefix }}towerclear`
`{{ prefix }}pet rescue config [<настройка>=<значение>]`
`{{ prefix }}news [[un]subscribe [pc|switch]]`
`{{ prefix }}prefix [новый_префикс]`
`{{ prefix }}lang[uage[s]] [новый_язык]`
