<T>How to read</T>
Square brackets `[]` show optional parameters, except for troop code.
Vertical lines `|` mean "or": this|that.
valid language codes are `{{ languages }}`.

<T>Searches</T>
`{{ prefix }}help`
`{{ prefix }}quickhelp`
`[lang][-][<troopcode>]`
`[lang][-]{{ prefix }}troop <search>`
`[lang][-]{{ prefix }}weapon <search>`
`[lang][-]{{ prefix }}affix <search>`
`[lang][-]{{ prefix }}pet <search>`
`[lang][-]{{ prefix }}class <search>`
`[lang][-]{{ prefix }}kingdom <search>`
`[lang][-]{{ prefix }}talent <search>`
`[lang][-]{{ prefix }}trait <search>`
`[lang][-]{{ prefix }}traitstone <search>`

<T>Overviews</T>
`[lang]{{ prefix }}class summary`
`[lang]{{ prefix }}kingdom summary`
`[lang]{{ prefix }}color_kingdoms`
`[lang]{{ prefix }}spoiler[s] [pet[s]|troop[s]|weapon[s]|kingdom[s]|event[s]]`
`[lang]{{ prefix }}event[s] [filter]`
`[lang]{{ prefix }}event[s] kingdom[s]`
`[lang]{{ prefix }}campaign [bronze|silver|gold]`
`[lang]{{ prefix }}soulforge`
`[lang]{{ prefix }}levels`
`[lang]{{ prefix }}adventure[s]`
`[lang][-]{{ prefix }}class_level [<basso>-]<alto>`

<T>Pet Rescue</T>
`{{ prefix }}pet rescue [pet name or id] [time remaining in minutes] [mention]`
`{{ prefix }}pr [pet name or id] [time remaining in minutes] [mention]`

<T>Tower of Doom</T>
`{{ prefix }}towerhelp`
`{{ prefix }}tower [lower floor-upper floor]`

<T>Toplists</T>
`[lang]{{ prefix }}toplists`
`[lang]{{ prefix }}toplist <description> <troops>`
`[lang]{{ prefix }}toplist delete <id>`
`[lang]{{ prefix }}toplist update <id> <description> <troops>`
`[lang]{{ prefix }}toplist append <id> <more_troops>`

<T>Admin Commands</T>
`{{ prefix }}towerconfig`
`{{ prefix }}towerclear`
`{{ prefix }}pet rescue config [<setting>=<value>]`
`{{ prefix }}news [[un]subscribe [pc|switch]]`
`{{ prefix }}prefix [new_prefix]`
`{{ prefix }}lang[uage[s]] [new_language]`

<T>Bot specific</T>
`{{ prefix }}about`
`{{ prefix }}permissions`
`{{ prefix }}tools`
`{{ prefix }}waffles`
