<T>Anleitung</T>
Eckige Klammern `[]` werden für optionale Parameter verwendet, außer bei den Team-Codes.
Senkrechte Striche `|` bedeuten "oder": dies|das.
Gültige Sprachcodes:  `{{ languages }}`.

<T>Suchen</T>
`{{ prefix }}help`
`{{ prefix }}quickhelp`
`[lang][-][<Team Code>]`
`[lang][-]{{ prefix }}troop <Truppe>`
`[lang][-]{{ prefix }}weapon <Waffe>`
`[lang][-]{{ prefix }}affix <Anhang>`
`[lang][-]{{ prefix }}pet <Haustier>`
`[lang][-]{{ prefix }}class <Klasse>`
`[lang][-]{{ prefix }}kingdom <Königreich>`
`[lang][-]{{ prefix }}talent <Talent>`
`[lang][-]{{ prefix }}trait <Eigenschaft>`
`[lang][-]{{ prefix }}traitstone <Stein>`

<T>Zusammenfassungen</T>
`[lang]{{ prefix }}class summary`
`[lang]{{ prefix }}kingdom summary`
`[lang]{{ prefix }}color_kingdoms`
`[lang]{{ prefix }}spoiler[s] [pet[s]|troop[s]|weapon[s]|kingdom[s]|event[s]]`
`[lang]{{ prefix }}event[s] [filter]`
`[lang]{{ prefix }}event[s] kingdom[s]`
`[lang]{{ prefix }}campaign [bronze|silver|gold]`
`[lang]{{ prefix }}soulforge`
`[lang]{{ prefix }}levels`

<T>Haustierrettung</T>
`{{ prefix }}pet rescue [Haustier] [Übrige Zeit in Minuten] [Erwähnung]`
`{{ prefix }}pr [Haustier] [Übrige Zeit in Minuten] [Erwähnung]`

<T>Turm der Verdammnis</T>
`{{ prefix }}towerhelp`
`{{ prefix }}tower [von-bis]`

<T>Toplisten</T>
`[lang]{{ prefix }}toplists`
`[lang]{{ prefix }}toplist <Beschreibung> <Truppen>`
`[lang]{{ prefix }}toplist delete <id>`
`[lang]{{ prefix }}toplist update <id> <Beschreibung> <Truppen>`
`[lang]{{ prefix }}toplist append <id> <Mehr Truppen>`

<T>Administrative Befehle</T>
`{{ prefix }}towerconfig`
`{{ prefix }}towerclear`
`{{ prefix }}pet rescue config [<Parameter>=<Wert>]`
`{{ prefix }}news [[un]subscribe [pc|switch]]`
`{{ prefix }}prefix [Neues Präfix]`
`{{ prefix }}lang[uage[s]] [Neue Sprache]`

<T>Bot-Spezifisch</T>
`{{ prefix }}about`
`{{ prefix }}permissions`
`{{ prefix }}waffles`
