<T>Come si legge</T>
Parentesi quadre `[]` mostrano i paramaetri opzionali, tranne per i codici delle truppe.
Linea verticale `|` significa "o": questo|quello.
codici lingua validi sono `{{ languages }}`.

<T>Ricerca</T>
`{{ prefix }}help`
`{{ prefix }}quickhelp`
`[lang][-][<codice truppa>]`
`[lang][-]{{ prefix }}troop <ricerca>`
`[lang][-]{{ prefix }}weapon <ricerca>`
`[lang][-]{{ prefix }}affix <ricerca>`
`[lang][-]{{ prefix }}pet <ricerca>`
`[lang][-]{{ prefix }}class <ricerca>`
`[lang][-]{{ prefix }}kingdom <ricerca>`
`[lang][-]{{ prefix }}talent <ricerca>`
`[lang][-]{{ prefix }}trait <ricerca>`
`[lang][-]{{ prefix }}traitstone <ricerca>`

<T>Sommari</T>
`[lang]{{ prefix }}class summary`
`[lang]{{ prefix }}kingdom summary`
`[lang]{{ prefix }}factions`
`[lang]{{ prefix }}color_kingdoms`
`[lang]{{ prefix }}troop_type_kingdoms`
`[lang]{{ prefix }}spoiler[s] [pet[s]|troop[s]|weapon[s]|kingdom[s]|event[s]]`
`[lang]{{ prefix }}event[s] [filter]`
`[lang]{{ prefix }}event[s] kingdom[s]`
`[lang]{{ prefix }}current_event`
`[lang]{{ prefix }}weekly_summary`
`[lang]{{ prefix }}active_gems`
`[lang]{{ prefix }}heroic_gems`
`[lang]{{ prefix }}campaign [bronze|silver|gold]`
`[lang]{{ prefix }}reroll_tasks`
`[lang]{{ prefix }}soulforge`
`[lang]{{ prefix }}levels`
`[lang]{{ prefix }}adventure[s]`
`[lang][-]{{ prefix }}class_level [<lower>-]<upper>`
`[lang]{{ prefix }}drop_rates`
`[lang]{{ prefix }}effects`
`[lang]{{ prefix }}warbands`
`[lang]{{ prefix }}summoning_stones|summons`
`[lang]{{ prefix }}storms`
`[lang]{{ prefix }}server_status`

<T>Salvataggio Famiglio</T>
`{{ prefix }}pet rescue [nome del pet o ID] [tempo rimanente in minuti] [menzione]`
`{{ prefix }}pr [nome del pet o ID] [tempo rimanente in minuti] [menzione]`

<T>Torre della Sventura</T>
`{{ prefix }}towerhelp`
`{{ prefix }}tower [dal piano-al piano]`

<T>Salvataggio Squadre</T>
`[lang]{{ prefix }}bookmarks`
`[lang]{{ prefix }}bookmark <id>`
`[lang]{{ prefix }}bookmark <descrizione> <codice team>`
`[lang]{{ prefix }}bookmark delete <id>`

<T>Toplist</T>
`[lang]{{ prefix }}toplists`
`[lang]{{ prefix }}toplist <descrizione> <truppe>`
`[lang]{{ prefix }}toplist delete <id>`
`[lang]{{ prefix }}toplist update <id> <descrizione> <truppe>`
`[lang]{{ prefix }}toplist append <id> <truppe_aggiuntive>`

<T>Comandi specifici del Bot</T>
`{{ prefix }}about`
`{{ prefix }}permissions`
`{{ prefix }}tools`
`{{ prefix }}streamer[s]`
`{{ prefix }}waffles`
`{{ prefix }}burgers`
`{{ prefix }}memes`

<T>Comandi Admin</T>
`{{ prefix }}towerconfig`
`{{ prefix }}towerclear`
`{{ prefix }}pet rescue config [<parametro>=<valore>]`
`{{ prefix }}news [[un]subscribe [pc|switch]]`
`{{ prefix }}prefix [nuovo_prefisso]`
`{{ prefix }}lang[uage[s]] [nuova_lingua]`
