<T>__Основное__</T>
Пользователи могут использовать команду `{{ prefix }}tower` для того, чтобы ввести данные о свитках в Башне Бед, 
а потом отобразить их. **Для каждого канала создается уникальная башня**.
<T>__Ввод данных__</T>
Чтобы ввести данные, используйте команду `{{ prefix }}tower`. Можно использовать сокращенные названия и псевдонимы.
`{{ prefix }}tower 4 ii unlock`
`{{ prefix }}tower 5 rare fi`
Можно заполнить весь этаж одной командой:
`{{ prefix }}tower 6 armor fireball unlock haste`

<T>__Отображение данных__</T>
Чтобы увидеть данные о башне просто введите команду `{{ prefix }}tower` без аргументов.
Чтобы отображать этажи в диапазоне от _нижнего_ до _верхнего_, исползуйте `{{ prefix }}tower <нижний>-<верхний>`, например: `{{ prefix }}tower 20-30`.

<T>__Очистка данных__</T>
Для очистки данных используйте команду `{{ prefix }}towerclear` без аргументов.

<T>__Importing from Taran's DoomMap__</T>
`{{ prefix }}tower taran <map name>`

<T>__Конфигурация__</T>
Для конфигурации используйте `{{ prefix }}towerconfig`.
`{{ prefix }}towerconfig short true` устанавливает краткие ответы на редактирование.
`{{ prefix }}towerconfig rooms iii iii,rare,green` устанавливает псевдонимы для комнат.
Значения разделяются запятыми.
`{{ prefix }}towerconfig scrolls armor :shield:,Armor` устанавливает псевдонимы для свитков. 
Первое значение будет использоваться при отображении данных.
