beautifulsoup4~=4.11
-e git+https://github.com/Rapptz/discord.py#egg=discord.py
feedparser~=6.0
html2markdown~=0.1.7
html5lib~=1.1
humanize~=4.1
jinja2~=3.1
requests~=2.27
prettytable~=3.3
hashids~=1.3
pillow~=9.1
Wand~=0.6.5
topggpy~=1.4