{% set sections = {
  'Official Communities': [
    {'name': 'Gems of War Forum', 'link': 'https://community.gemsofwar.com/', 'punchline': 'Chat with fellow GoW players, submit bug reports + feedback and recruit players'},
    {'name': 'Gems of War Twitter', 'link': 'https://twitter.com/GemsOfWar', 'punchline': 'News from the Kingdom of Krystara'},
    {'name': 'Gems of War Facebook', 'link': 'https://facebook.com/gemsofwar/', 'punchline': 'Connect with GoW players'},
    {'name': 'Gems of War Reddit', 'link': 'https://www.reddit.com/r/GemsofWar/', 'punchline': 'Weekly event guides, streamers, game discussions & guild recruitment'},
  ],
  'Discord Communities (1/2)': [
    {'name': 'GoW Alliance', 'link': 'https://discord.gg/j3wfwH2', 'punchline': 'Community chat, spoilers, guides and information from Garyatrics, TaransWorld, Gemologica & Krystaraio'},
    {'name': 'GoW Info Library', 'link': 'https://discord.gg/Szu6bJM', 'punchline': 'Everything you never wanted to know. Search friendly. No talking. '},
    {'name': 'GoW Teams Library', 'link': 'https://discord.gg/XSQ25tDeWd', 'punchline': 'Team sharing & discussion. Class Event, Invasion, Raid Boss & ToD'},
    {'name': 'Gems Of War Factions', 'link': 'https://discord.gg/FRdTaWWTCU', 'punchline': 'One-Stop Shop for all your Faction needs. Teams, Strategies & Crowd Sourced Resources'},
    {'name': 'Wiki-Lynx', 'link': 'https://discord.gg/j9D5ybC', 'punchline': 'Charts & Info'},
    {'name': 'GoW Community', 'link': 'https://discord.gg/QDakqpH', 'punchline': 'Community run server for chat and info'},
    {'name': 'GoW Switch Community', 'link': 'https://discord.gg/JzvdAHEuaZ', 'punchline': 'Community especially for players on the Nintendo Switch'},
  ],
  'Discord Communities (2/2)': [
    {'name': 'Communauté Francophone GoW', 'link': 'https://discord.gg/cdswxpw', 'punchline': 'French Speaking GoW Community'},
    {'name': 'Souterrains GoW Francophone', 'link': 'https://discord.gg/n9fbNyS6UW', 'punchline': 'French Speaking Factions Server'},
    {'name': 'GoW Speedrunning', 'link': 'https://discord.gg/Zku92Dm', 'punchline': 'GoW Speedrunning'},
    {'name': 'Gems of War Hispano', 'link': 'https://discord.gg/ucD4j3xFmE', 'punchline': 'Spanish-speaking community of the GoW'},
    {'name': 'INT6 Custom Mythic', 'link': 'https://discord.gg/yNHKs88GHP', 'punchline': 'Custom Troop Server, Create, Share, Request and Discuss Custom Troops'},
  ],
}
%}

{% for section, communities in sections.items() %}
<T>{{ section }}</T>
{% for community in communities %}
✪ [{{ community.name }}]({{ community.link }}) {{ community.punchline }}{% endfor %}
{% endfor %}
