<T>__**{{ overview }}**__</T>{% if 'kingdom' in event %}
**{{ kingdom_title }}**: {{ event.kingdom.name }} `#{{ event.kingdom.id }}`{% else %}-{% endif %}{% if event.currencies %}
**{{ score }}**: {% for currency in event.currencies %}{{ currency.icon | emoji }} {{ currency.name }} ({{ currency.value }}){% if not loop.last %}, {% endif %}{% endfor %}{% endif %}{% if event.weapon %}
**{{ event_weapon }}**: {{ event.weapon }} `#{{ event.weapon_id }}`{% endif %}{% if event.troop_id %}
**{{ event_troop }}**: {{ event.troop }} `#{{ event.troop_id }}`{% endif %}{% if event.color %}
**{{ event_color }}**: {{ event.color | emoji }}{% endif %}
{% if event.token %}<T>__**{{ medals }}**__</T>
**{{ event.token.name }}**: {{ event.token.description }}
**{{ event.badge.name }}**: {{ event.badge.description }}
**{{ event.medal.name }}**: {{ event.medal.description }}{% endif %}
{% if event.troop_restrictions %}<T>__**{{ troop_restrictions }}**__</T>
{% for r, v in event.troop_restrictions.items() -%}
{{ r }}: {{ v }}
{% endfor %}**{{ weapon_title }}**: {% if event.weapon_restrictions %}{% for r, v in event.weapon_restrictions.items() -%}
{{ r }}: {{ v }}{% endfor %}{% else %}-{% endif %}{% endif %}
{% if event.rewards %}<T>__**{{ rewards }}**__</T>
{% for stage in event.rewards.values() -%}
` {{ stage.name }} ` {% for reward in stage.rewards %}{% if reward.amount != 1 %}{{ reward.amount }} {% endif %}{{ reward.type }}{% if not loop.last %}, {% endif %}{% endfor %} | {{ stage.points }}
{% endfor %}
{% if event.battles %}<T>__**{{ event.battles_title }}**__</T>
{% for battle in event.battles %}
{{ battle.rarity | emoji}} {{ battle.name }}{% endfor %}{% endif %}
<T>__**{{ calculated_score_title }}**__</T>
{{ points_needed }}
{{ battles_needed }}
{{ tier_needed }}
{% endif %}