<T>__**{{ overview }}**__</T>
**{{ kingdom_title }}**: {{ event.kingdom.name }} `#{{ event.kingdom.id }}`{% if event.currency.name %}
**{{ score }}**: {{ event.currency.name }} ({{ event.currency.value }}){% endif %}
**{{ event_troop }}**: {{ event.troop }} `#{{ event.troop_id }}`
{% if event.token %}<T>__**{{ medals }}**__</T>
**{{ event.token.name }}**: {{ event.token.description }}
**{{ event.badge.name }}**: {{ event.badge.description }}
**{{ event.medal.name }}**: {{ event.medal.description }}{% endif %}
{% if event.restrictions %}<T>__**{{ troop_restrictions }}**__</T>
{% for r, v in event.restrictions.items() %}
{{ r }}: {{ v }}
{% endfor %}{% endif %}
{% if event.lore %}<T>__**{{ lore_title }}**__</T>
{{ event.lore }}{% endif %}
