**{{ kingdom.name }} `#{{ kingdom.id }}` {% for color in kingdom.colors %}{{ color|emoji(':' + color + ':') }}{% endfor %} ({{ kingdom.map }})**
{{ kingdom.punchline }}
{{ kingdom.description }}
**{{ kingdom.banner_title }}**: {{ kingdom.banner.name }} {{ kingdom['banner']|banner_colors|join(' ') }}

{%- if kingdom.primary_color and kingdom.primary_stat %}
    **{{ kingdom.color_title }}**: {{ kingdom.primary_color|emoji }} / {{ ('deed_' + kingdom.primary_color)|emoji }} {{ kingdom.deed }}
    **{{ kingdom.stat_title }}**: {{ kingdom.primary_stat }}
{% endif %}

{%- if kingdom.linked_kingdom %}
    **{{ kingdom.linked_map }}**: {{ kingdom.linked_kingdom }}
{% endif -%}

**{{ kingdom.troop_title }}**:
{%- for troop in kingdom.troops -%}
    {% if loop.index != 1 %},{% endif %} {{ troop.name }} `{{troop.id }}`
{%- endfor -%}
