{% for group_name, orb_group in orbs.items() %}
<T>__{{ group_name }}__</T>
{% for orb in orb_group %}{{ orb.emoji|emoji }} **{{ orb.name }}** ({{ orb.chance }}): {{ orb.help }}
{% endfor %}
{% endfor %}