<T>**{{ pet.color_code|emoji }} {{ pet.name }} `#{{ pet.id }}`**</T>
**{{ pet.effect_title }}**: {{ pet.effect }}{% if pet.effect_data %} ({{ pet.effect_data }}){% endif %}
**{{ pet.kingdom_title }}**: {{ pet.kingdom }}
