<T>**{{ pet.color_code|emoji }} {{ pet.name }} `#{{ pet.id }}`**</T>
**{{ pet.effect_title }}**: {{ pet.effect }}{% if pet.effect_data %} ({{ pet.effect_data }}){% endif %}
**{{ pet.kingdom_title }}**: {{ pet.kingdom_name }}{% if pet.region_name %}
    **{{ pet.region_title }}** {{ pet.region_sentence.replace('%1', pet.region_name) }}{% endif %}
**{{ pet.pvp_title }}**: {{ pet.pvp }}