{% macro status_type(type=0) -%}
{% if type == 0 %}:white_check_mark:{% else %}:warning:{% endif %}
{%- endmacro %}
{% for platform in status %}
<T>{{ platform.sFriendlyName }}</T>
{% for status in platform.pStatusArray %}{{ status_type(type=status.nType) }} {{ status.pDescription.en_US }}
{% endfor %}
{% else %}
<T>Error</T>
Could not download server status. Please try again later.
{% endfor %}