{% set streamers = [
{'name': 'Tacet', 'link': 'https://www.youtube.com/c/TacettheTerror', 'punchline': 'Daily Streams covering all aspects of GoW'},
{'name': 'Relle', 'link': 'https://www.youtube.com/c/RellePlays', 'punchline': 'Weekly Campaign, World Event and New Troop videos'},
{'name': 'Genki', 'link': 'https://www.youtube.com/c/GenkiColleen', 'punchline': 'Daily Videos covering all aspects of GoW including AI Roulette'},
{'name': 'Sinny', 'link': 'https://www.youtube.com/c/SinnycoolGames', 'punchline': 'Daily Videos covering all aspects of GoW and Early Spoilers'},
{'name': 'Crisp Purpose', 'link': 'https://www.youtube.com/channel/UCWPuczwM4OTa-Z6v-3suTPA', 'punchline': 'Daily Videos covering Explore 12 & PvP teams'},
{'name': 'Honest Rob', 'link': 'https://www.youtube.com/channel/UCm3r9Q61e0h-qqAgeCyxOXA', 'punchline': 'Daily Videos including Guides and New Troops'},
{'name': 'Hazard', 'link': 'https://www.youtube.com/channel/UCmNUQv3jUdNYt-mYdfD1ifg', 'punchline': 'Events, Guides, Team Building, Factions and Did You Knows'},
{'name': 'Rowdy Roddy', 'link': 'https://www.youtube.com/channel/UC40XWqOlB-yyEsZEXpk57GA', 'punchline': 'New Mythics & Faction Videos'},
{'name': 'Loot Wizard', 'link': 'https://www.youtube.com/c/LootWizard', 'punchline': 'Event Videos'},
{'name': 'The Tired Outlook', 'link': 'https://youtube.com/user/297COTA', 'punchline': 'Daily Event Videos.'},
{'name': 'Alfredo Scali', 'link': 'https://www.youtube.com/user/alfscali', 'punchline': 'Pet Rescue Videos'},
{'name': 'Crazy Na Rasslabone', 'link': 'https://www.youtube.com/channel/UCUvcUmVEpmqeujgzAWOn7Cg', 'punchline': 'Russian Weekly Videos.'},
] %}

{% for streamer in streamers %}
✪ [{{ streamer.name }}]({{ streamer.link }}) {{ streamer.punchline }}
{% endfor %}
