<T>**__GoW Alliance__**</T>
[GoW Alliance](https://discord.gg/j3wfwH2) Discord Community
[Taran's World](https://www.taransworld.com/): Spoilers, events, leaderboards, game assets
[Gemologica](https://gemologica.herokuapp.com/) by El Duderino: Kingdom management
[Hoard Master](https://el-hackerino.github.io/hoard-master/) by El Duderino: Hoard Level calculator

<T>**__Other Authors__**</T>
[Gems of War DB](https://gowdb.com/) by Lyya: News, overviews, player collections
[Gems of War Sleuth](https://slothies.neocities.org/gow/) by Sluys: Weapons & troop search with advanced filtering
[Gems of War Info Library](https://discord.gg/Szu6bJM) by Shadowfeld: Comprehensive information collection and team library.

<T>**__Official__**</T>

[Gems of War Support](https://gemsofwar.zendesk.com/hc/en-us)