<T>**__GoW Alliance__**</T>
[GoW Alliance](https://discord.gg/j3wfwH2) Discord Community
[Taran's World](https://www.taransworld.com/): Spoilers, events, leaderboards, game assets
[Eric's Gems of War Tools](https://krystara.io/): Leaderboards, tasks, spoilers, game assets
[Eric's Custom Troop Creator](https://mastereric.github.io/gow-troop-creator/): Create custom GoW styled troop cards
[Gemologica](https://gemologica.herokuapp.com/) by El Duderino: Kingdom management
[Hoard Master](https://el-hackerino.github.io/hoard-master/) by El Duderino: Hoard Level calculator

<T>**__Other Authors__**</T>
[Gems of War DB](https://gowdb.com/) by Lyya: News, overviews, player collections
[Gems of War Sleuth](https://slothies.neocities.org/gow/) by Sluys: Weapons & troop search with advanced filtering


<T>**__Official__**</T>

[Gems of War Support](https://gemsofwar.zendesk.com/hc/en-us)