<T>**{{ description }}**</T>
{% for item in items -%}
**{{ loop.index }}. {{ item.color_code|emoji }} {{ item.name }}** ({{ item.kingdom }} {{ item.rarity }}) - {{ item.spell.description }}
{% endfor %}