{% if troops %}<T>{{ traitstone.troops | length }} {{ traitstone.troops_title }}</T>
{{ troops }}{% endif %}
{% if classes %}<T>{{ traitstone.classes | length }} {{ traitstone.classes_title }}</T>
{{ classes }}{% endif %}