<T>**{{ trait.name }}**</T>
{{ trait.description }}

<T>**{{ trait.troops_title }}**</T>
{% for troop in trait.troops %}{{ troop.name }}{% if not loop.last %}, {% endif %}{% else %}-{% endfor %}

<T>**{{ trait.classes_title }}**</T>
{% for class in trait.classes %}{{ class.name }}{% if not loop.last %}, {% endif %}{% else %}-{% endfor %}