**{{ troop.spell.cost }}{{ troop.color_code|emoji }} {{ troop.name }}** (
{{- flatten(troop.type, troop.roles, troop.rarity, troop.kingdom)|join(', ') -}}
) | {{ troop.spell.description }}

{%- for trait in troop.traits -%}
{% if loop.index != 1 %},{% endif %} {{ trait.name }}
{%- endfor-%}
