**{{ troop.spell.cost }}{{ troop.color_code|emoji }} {{ troop.name }}** `#{{ troop.id }}`{% if troop.description %}
> **{{ troop.description }}**{% endif %}
**{{ troop.spell.name }}**: {{ troop.spell.description }}{% if troop.shiny %}
**{{ troop.shiny_spell.name }}**: {{ troop.shiny_spell.description }}
*({{ troop.shiny }})*{% endif %}

**{{ troop.kingdom_title }}**: {{ troop.kingdom }}
**{{ troop.rarity_title }}**: {{ troop.rarity }}
**{{ troop.roles_title }}**: {{ troop.roles|join(', ') }}
**{{ troop.type_title }}**: {{ troop.type }}

<T>{{ troop.traits_title }}</T>
{%- for trait in troop.traits %}
**{{ trait.name }}**: {{ trait.description }}
{%- endfor -%}
{% if troop.immortal %}<T>{{ troop.traits_title }} ({{ troop.immortal_title }})</T>
{%- for trait in troop.immortal_traits %}
**{{ trait.name }}**: {{ trait.description }}
{%- endfor -%}{% endif %}
{% if troop.traitstones -%}<T>{{ troop.traitstones_title }}</T>
{{ troop.traitstones|join(', ') }}{% endif %}**
{{ troop.bonuses_title }}**: {{ 'attack'|emoji }} {{ troop.attack }}  {{ 'armor'|emoji }} {{ troop.armor }}  {{ 'health'|emoji }} {{ troop.health }}  {{ 'magic'|emoji }} {{ troop.magic }}