{% for warband in warbands -%}
<T>{% if ':' in warband.name %}{{ warband.name.split(':')[1] }}{% else %}{{ warband.name }}{% endif %}</T>
{{ warband.banner|banner_colors|join(' ') }} **{{ warband.banner.name }}** `#{{ warband.id }}`
{% endfor %}