{% for warband in warbands -%}
<T>{{ warband.name }}{% if warband.available %} ({{ warband.available }}){% endif %}</T>
{{ warband.banner|banner_colors|join(' ') }} **{{ warband.banner.name }}** `#{{ warband.id }}`
{% endfor %}