<T>{{ 'glory'|emoji }} {{ summary.glory_shop_title }}</T>
✪ {{ summary.glory_troop.name }}{% if summary.glory_troop.id %} `#{{ summary.glory_troop.id }}`{% endif %}
<T>{{ 'event_key' | emoji }} {{ summary.event_keys_title }} - {{ summary.event_chest_drops.kingdom.name }} `#{{ summary.event_chest_drops.kingdom.id }}`</T>
{% for troop in summary.event_chest_drops.troops %}✪ {{ troop.raw_rarity|emoji }} {{ troop.name }} `#{{ troop.id }}`
{% endfor %}
<T>{{ summary.world_event_title }}: {{ summary.world_event.name }}</T>
✪ {% if summary.world_event.restrictions %}{{ summary.restrictions_title }}: {% for r, v in summary.world_event.restrictions.items() %}
   - {{ r }}: {{ v }}{% endfor %}{% endif %}
✪ Subscribe to [Flight School](https://discord.gg/35GXXtz3xD) #world-event for more details
<T>{{ summary.faction_assault.start_day }}: {{ summary.faction_assault.type }}</T>
✪ {{ summary.faction_assault.extra_info }} `#{{ summary.faction_assault.kingdom_id }}`
<T>{{ summary.pet_rescue.start_day }}: {{ summary.pet_rescue.type }}</T>
✪ {{ summary.pet_rescue.extra_info }} `#{{ summary.pet_rescue.gacha }}`
<T>{{ summary.class_trial.start_day }}: {{ summary.class_trial.type }}</T>
✪ {{ summary.class_trial.extra_info }} `#{{ summary.class_trial.gacha }}`
<T>{{ summary.weekend.start_day }} - {{ summary.weekend.end_day }}: {{ summary.weekend.type }}</T>
✪ {% if summary.weekend.restrictions %}{{ summary.restrictions_title }}: {% for r, v in summary.weekend.restrictions.items() %}
   - {{ r }}: {{ v }}{% endfor %}{% else %} - {% endif %}