{% if summary.glory_rewards %}<T>{{ summary.glory_shop_title }} ({{ summary.glory_cost }} {{ 'glory'|emoji }})</T>
{% for reward in summary.glory_rewards %}
✪ {% if reward.amount != 1 %}x{{ reward.amount }} {% endif %}{{ reward.name }}{% if reward.id %} `#{{ reward.id }}`{% endif %}{% if reward.amount != 1 %} (x1 = {{ summary.glory_cost // reward.amount }} {{ 'glory'|emoji }}){% endif %}{% endfor %}{% endif %}
<T>{{ 'event_key' | emoji }} {{ summary.event_keys_title }} - {{ summary.event_chest_drops.kingdom.name }} `#{{ summary.event_chest_drops.kingdom.id }}`</T>
{% if summary.event_chest_drops.troops %}{% for troop in summary.event_chest_drops.troops %}✪ {{ troop.raw_rarity|emoji }} {{ troop.name }} `#{{ troop.id }}`
{% endfor %}{% else %}-{% endif %}
<T>{{ summary.world_event_title }}: {{ summary.world_event.name }}</T>
✪ {{ summary.restrictions_title }}: {% if summary.world_event.troop_restrictions %}
{% for r, v in summary.world_event.troop_restrictions.items() -%}
{{ r }}: {{ v }}
{% endfor %}**{{ summary.weapon_title }}**: {% if summary.world_event.weapon_restrictions %}{% for r, v in summary.world_event.weapon_restrictions.items() -%}
{{ r }}: {{ v }}{% endfor %}{% else %}-{% endif %}{% endif %}{% if summary.medal.description %}
✪ {{ summary.medal }}: {{ summary.world_event.medal.description }}{% endif %}
{% if not summary.faction_assault or summary.today_weekday > summary.faction_assault.start.weekday() %}<T>{{ summary.faction_assault.type }}</T>
{{ summary.event_ended }}{% else %}
{% if summary.extra_events %}<T>{{ summary.world_event_title }} ({{ summary.world_event.formatted_start }} - {{ summary.world_event.formatted_end }})</T>{% for event in summary.extra_events %}
✪ {{ event.type }}{% if event.extra_info %}: {{ event.extra_info }}{% endif %}{% endfor %}{% endif %}
<T>{{ summary.faction_assault.start_day }}: {{ summary.faction_assault.type }} ({{ summary.faction_assault.formatted_start }})</T>
✪ {{ summary.faction_assault.kingdom }} `#{{ summary.faction_assault.kingdom_id }}`{% endif %}
{% if summary.today_weekday > summary.pet_rescue.start.weekday() %}<T>{{ summary.pet_rescue.type }}</T>
{{ summary.event_ended }}{% else %}
<T>{{ summary.pet_rescue.start_day }}: {{ summary.pet_rescue.type }} ({{ summary.pet_rescue.formatted_start }})</T>
✪ {{ summary.pet_rescue.extra_info }} `#{{ summary.pet_rescue.gacha }}`{% endif %}
{% if summary.today_weekday > summary.class_trial.start.weekday() %}<T>{{ summary.class_trial.type }}</T>
{{ summary.event_ended }}{% else %}
{% if summary.class_trial.start_day %}<T>{{ summary.class_trial.start_day }}: {{ summary.class_trial.type }} ({{ summary.class_trial.formatted_start }})</T>
✪ {{ summary.class_trial.extra_info }} `#{{ summary.class_trial.gacha }}`{% endif %}{% endif %}
{% if summary.weekend %}<T>{{ summary.weekend.start_day }} - {{ summary.weekend.end_day }}: {{ summary.weekend.type }} ({{ summary.weekend.formatted_start }} - {{ summary.weekend.formatted_end }})</T>
✪ {{ summary.kingdom_title }}: {% if summary.weekend.kingdom %}{{ summary.weekend.kingdom }} `#{{ summary.weekend.kingdom_id }}`{% else %}-{% endif %}{% endif %}{% if summary.weekend.extra_info %}
✪ {{ summary.troop_title }}: {{ summary.weekend.extra_info }} `#{{ summary.weekend.gacha }}`{% endif %}
{% if summary.saturday_pet %}<T>{{ summary.saturday_pet.start_day }}: {{ summary.saturday_pet.type }} ({{summary.saturday_pet.formatted_start}})</T>
✪ {{ summary.saturday_pet.extra_info }} `#{{ summary.saturday_pet.gacha }}`{% endif %}