<T>:flag_us: Getting started</T>
1. Read through `{{ prefix }}help` thoroughly to know the bot's capabilities.
2. After that it is a good idea to set the default language for this server, with `{{ prefix }}lang en`.
3. Subscribe to news in a channel of your choice by using `{{ prefix }}news subscribe`.
<T>:flag_de: Schnellstart</T>
1. Lies dir die Hilfe `de{{ prefix }}help` gründlich durch, um die Fähigkeiten des Bots kennenzulernen.
2. Danach ist es eine gute Idee, die Standardsprache für diesen Server zu setzen, mit `{{ prefix }}lang de`.
3. Abonniere die GoW Nachrichten in einem Kanal deiner Wahl mit `{{ prefix }}news subscribe`.
<T>:flag_fr: Démarrage</T>
1. Lisez attentivement les `fr{{ prefix }}help` pour connaître les capacités du bot.
2. Après cela, il est bon de définir la langue par défaut pour ce serveur, avec `{{ prefix }}lang fr`.
3. Abonnez-vous aux nouvelles dans le canal de votre choix en utilisant `{{ prefix }}news subscribe`.
<T>:flag_it: Iniziare</T>
1. Leggi attentamente il `it{{ prefix }}help` per conoscere le capacità del bot.
2. Dopo di che è una buona idea impostare la lingua predefinita per questo server, con `{{ prefix }}lang it`.
3. Abbonati alle notizie in un canale di tua scelta utilizzando `{{ prefix }}news subscribe`.
<T>:flag_es: Cómo empezar</T>
1. Lee detenidamente la `es{{ prefix }}help` para conocer las capacidades del bot.
2. A continuación, es conveniente establecer el idioma por defecto para este servidor, con `{{ prefix }}lang es`.
3. Suscríbete a las noticias de un canal de tu elección utilizando `{{ prefix }}news subscribe`.
<T>:flag_ru: Начать</T>
1. Внимательно прочитай `ру{{ prefix }}help`, чтобы узнать, каковы возможности бота.
2. После этого неплохо было бы установить для этого сервера язык по умолчанию с `{{ prefix }}lang ру`.
3. Подписывайся на новости в выбранном тобой канале, используя `{{ prefix }}news subscribe`.
<T>:flag_cn: 开始</T>
1. 仔细阅读`zh{{ prefix }}help`，了解机器人的能力。
2. 之后，最好是设置这个服务器的默认语言，使用`{{ prefix }}lang zh`。
3. 使用`{{ prefix }}news subscribe`在您选择的频道订阅新闻。