<T>:flag_us: Getting started</T>
1. Read through `/help` thoroughly to know the bot's capabilities.
2. Subscribe to news in a channel of your choice by using `/news_subscribe`.
<T>:flag_de: Schnellstart</T>
1. Lies dir die Hilfe `/help lang German` gründlich durch, um die Fähigkeiten des Bots kennenzulernen.
2. Danach ist es eine gute Idee, die Standardsprache für diesen Server zu setzen, mit `/change_language new_language German`.
3. Abonniere die GoW Nachrichten in einem Kanal deiner Wahl mit `/news_subscribe`.
<T>:flag_fr: Démarrage</T>
1. Lisez attentivement les `/help lang French` pour connaître les capacités du bot.
2. Après cela, il est bon de définir la langue par défaut pour ce serveur, avec `/change_language new_language French`.
3. Abonnez-vous aux nouvelles dans le canal de votre choix en utilisant `/news_subscribe`.
<T>:flag_it: Iniziare</T>
1. Leggi attentamente il `/help lang Italian` per conoscere le capacità del bot.
2. Dopo di che è una buona idea impostare la lingua predefinita per questo server, con `/change_language new_language Italian`.
3. Abbonati alle notizie in un canale di tua scelta utilizzando `/news_subscribe`.
<T>:flag_es: Cómo empezar</T>
1. Lee detenidamente la `/help lang Spanish` para conocer las capacidades del bot.
2. A continuación, es conveniente establecer el idioma por defecto para este servidor, con `/change_language new_language Spanish`.
3. Suscríbete a las noticias de un canal de tu elección utilizando `/news_subscribe`.
<T>:flag_ru: Начать</T>
1. Внимательно прочитай `/help lang Russian`, чтобы узнать, каковы возможности бота.
2. После этого неплохо было бы установить для этого сервера язык по умолчанию с `/change_language new_language Russian`.
3. Подписывайся на новости в выбранном тобой канале, используя `/news_subscribe`.
<T>:flag_cn: 开始</T>
1. 仔细阅读`/help lang Chinese`，了解机器人的能力。
2. 之后，最好是设置这个服务器的默认语言，使用`/change_language new_language Chinese`。
3. 使用`/news_subscribe`在您选择的频道订阅新闻。